body,
html {
	font-weight: 400;
	color: #333333;
	margin: 0;
	font-family: 'Lato', 'Roboto', monospace;
}

div[class *="image"] {
	position: relative;
	background-position: center;
	/* background-size: cover; */
	background-repeat: no-repeat;
	background-attachment: scroll;
	margin: -50px 0;
}

.parallax {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective: 300px;
	perspective: 300px;
}

.parallax-group {
	position: relative;
	height: 100vh;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.first-section-img {
	background: url(../img/bg1.jpg) no-repeat top;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	transform: translateZ(-300px) scale(2);
}

.text-content {
	position: absolute;
	width: 70%;
	top: 0;
	margin: 0 15%;
	bottom: 0;
	z-index: 4;
	padding-top: 18%;
	padding-bottom: 15%;
	transform: translateZ(0);
}

.h2slogan h2 {
	text-align: center;
    font-family: Roboto;
    color: #FAFAFA;
    font-size: 460%;
    font-weight: 700;
    line-height: 130%;
    -webkit-text-stroke: 1px white;
}

.context {
	width: 100vw;
	position: absolute;
}

/* Promo-block */

.text {
	text-align: center;
	background: white;
	width: auto;
	height: auto;
	padding: 10px;
}

.border {
	border-style: solid;
	border-width: 50px calc(100vw /2 - 10px) 0 calc(100vw /2 - 10px);
	border-color: white transparent transparent transparent;
	position: relative;
	z-index: 6;
}

.border#b2 {
	position: relative;
	z-index: 6;
	border-style: solid;
	border-width: 50px calc(100vw /2 - 10px) 0 calc(100vw /2 - 10px);
	border-color: transparent white transparent white;
}

.image {
	display: block;
}

.image1 {
	background-image: url(../img/bg2.jpg);
	min-height: 500px;
}

.image2 {
	background-image: url(../img/bg3.jpg);
	min-height: 500px;
	/* padding-top: 50px; */
}

/* NAVIGATION */

.nav {
	position: absolute;
	width: 100%;
	top: 32px;
	background-color: white;
	padding: 15px 0;
	z-index: 1000;
}

.nav .menu-container {
	display: flex;
	justify-content: space-between;
	max-width: 80%;
	margin: 0px 10% 0px 10%;
	align-items: center;
}

.menu-text {
	font-size: 36px;
}



.blue {
	color: #14afca;
	text-decoration: none;
}

.up {
	text-transform: uppercase;
}

.flex-around {
	display: flex;
	justify-content: space-around;
}

.flex-wrap {
	flex-wrap: wrap;
}

.darken {
	padding: 50px 0;
	text-align: center;
}

.item {
	/* padding: 0 70px; */
}

.container .flex-around {
	padding-top: 30px;
	padding-bottom: 50px;
}

.logo {
	font-family: 'Roboto', sans-serif;
	color: #424f57;
	font-size: 36px;
	font-weight: 300;
	line-height: 36px;
	cursor: pointer;

}

.logo--blue {
	font-family: 'Roboto', sans-serif;
	color: #14afca;
	font-size: 36px;
	font-weight: 900;
	line-height: 36px;
	/* margin-left: -10px; */
	text-decoration: none;
}

.nav ul {
	list-style: none;
}

.nav ul li {
	display: inline-block;
    text-transform: uppercase;
    padding-left: 20px;
    font-weight: 900;
    line-height: 250%;
}

.nav ul li:hover {
	color: #14afca;
	cursor: pointer;
	border: 1px whitesmoke;
	border-radius: 1px;
}



.container {
	width: 100%;
	margin: 0 auto;
}

.separateh2 {
	font-family: 'Roboto', sans-serif;
	color: #14afca;
	font-size: 60px;
	font-weight: 700;
	line-height: 40px;
	margin-bottom: 20px;
}

.separateh4 {
	font-family: OpenSans;
	font-size: 18px;
	font-weight: 600;
	color: #424f57;
	margin-top: 10px;
}

.separetep {
	font-family: OpenSans;
    color: #BDBDBD;
    font-size: 100%;
    font-style: italic;
    line-height: 28px;
    padding-bottom: 0;
    width: 80%;
    padding-left: 10%;
    padding-right: auto;
}

.separetepbp {
	font-family: 'Roboto', sans-serif;
	color: #424f57;
	font-size: 30px;
	font-weight: 700;
	line-height: 48px;
	text-transform: uppercase;
	padding-top: 20px;
}

/************footer class**********************/

.copyright {
	padding: 0;
}

.copyright {
	padding-top: 50px;
	font-family: OpenSans;
	color: #3d3c3c;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}

.design {
	font-family: OpenSans;
	color: #3d3c3c;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	display: inline-block;
	padding: 0;
}

.designername {
	display: inline-block;
	font-family: OpenSans;
	color: #3d3c3c;
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	text-indent: 5px;
	padding: 0;
	padding-bottom: 50px;
}



.container.darken .separateh4 {
	font-family: 'Roboto', OpenSans;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	line-height: 40px;
}

.container.darken .separetep {
	font-family: OpenSans;
	color: #d3cccc;
	font-size: 16px;
	font-style: italic;
	line-height: 28px;
	padding-bottom: 0;
}

.container.darken .author {
	font-family: OpenSans;
    color: #ffffff;
    font-size: 120%;
    font-weight: 600;
    font-style: italic;
    line-height: 28px;
    text-align: right;
    position: relative;
    right: 10%;
}

.container.flex-around.flex-wrap img {
	margin: 15px;
}